@page "/employeeall"
@inject MediatR.IMediator _mediator
@inject AutoMapper.IMapper _mapper
@using Planner.Application.ViewModels
@using Planner.Application.Service.Queries

<PageTitle>SPG - Pracownicy</PageTitle>

<p><h3>Wszyscy pracownicy</h3> <a href="@("/employeecreate")">Dodaj pracownika</a></p>
<p>
    <table class="table">
        <tr>
            <th><a class="nav-link">Imię i Nazwisko</a></th>
            <th><a class="nav-link">Prawo wyk. zawodu</a></th>
            <th><a class="nav-link">Telefon</a></th>
        </tr>
    @foreach(var e in employees)
    {
        <tr>
            <td>@e.Name @e.Surname</td>
            <td>@e.LicenseNumber</td>
            <td>@e.PhoneNumber</td>
            <button class="btn btn-primiary"><a href="@($"/employeedetails/{e.Id}")">Szczegóły</a></button>
            <button class="btn btn-primiary"><a href="@($"/employeeedit/{e.Id}")">Edycja</a></button>
        </tr>
    }
    <br />
    </table>
</p>

@code {
    private List<AllEmployee> employees = new List<AllEmployee>();


    protected override async Task OnInitializedAsync()
    {
        var empl = await _mediator.Send(new GetEmployeesQuery());
        foreach(var i in empl)
        {
            var employee = _mapper.Map<AllEmployee>(i);
            employees.Add(employee);
        }

        
    }
}
