@page "/"
@inject MediatR.IMediator _mediator
@using Planner.Application.ViewModels
@using Planner.Application.Service.Queries


<PageTitle>SPG - System planowania grafiku</PageTitle>

<h1>System planowania grafiku</h1>

<input type="button" class="btn btn-danger" style="width:100px;" value ="Delete" />
<input type="button" class="btn btn-success" style="width:100px;" value ="Edit" />
<br />

<input type="date" id="start" name="trip-start"
       value="2022-02-01"
       min="2022-02-01" max="2022-02-31">
<p>
    <table class="table">
        <tr>
            <th><a class="nav-link">Imię i Nazwisko</a></th>
            <th><a class="nav-link">Prawo wyk. zawodu</a></th>
            <th><a class="nav-link">Telefon</a></th>
        </tr>
    @foreach(var e in employees)
    {
        <tr>
            <td><a href="@($"/employeedetails/{e.Id}")">@e.Name @e.Surname</a></td>
            <td>@e.LicenseNumber</td>
            <td>@e.PhoneNumber</td>

            
        </tr>
   

    }
    </table>
</p>



<div>
    <a href="@($"/employeeall")">Pracownicy</a>
</div>





@code {
    List<EmployeeViewModel> employees;
     

    protected override async Task OnInitializedAsync()
    {
        employees = await _mediator.Send(new GetEmployeesQuery());
        
        
    }

}


